<ion-header>
  <ion-toolbar>
    <ion-title>
      Sincronizar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
        <ion-checkbox></ion-checkbox> &nbsp; Site para cadastrar trabalhos
    </ion-item>
    <ion-item>
        <ion-checkbox></ion-checkbox> &nbsp; Site para cadastrar questionários
    </ion-item>
    <ion-item>
        <ion-checkbox></ion-checkbox> &nbsp; Site para enviar avaliaçoes
    </ion-item>
    <ion-item>
        <ion-checkbox></ion-checkbox> &nbsp; Site para visualizar avaliaçoes
    </ion-item>
    <ion-item>
        <ion-checkbox></ion-checkbox> &nbsp; Receber questionarios
    </ion-item>
    <ion-item>
        <ion-checkbox></ion-checkbox> &nbsp; Receber trabalhos
    </ion-item>
    <ion-item>
        <ion-checkbox></ion-checkbox> &nbsp; Enviar avaliações
    </ion-item>
    <ion-item>
        <ion-checkbox></ion-checkbox> &nbsp; Site para as pessoas baixarem o app
    </ion-item>
  </ion-list>

</ion-content>